:root{
    /*font*/
    font-family: Arial, Helvetica, sans-serif;

    /* var colours*/
    --nav-bar-bg:#2d728f;
    --nav-bar-text:white;
    --nav-bar-hover:#0d4259;
    --scrollbar-thumb-color: #2d728f;
    --scrollbar-color:rgba(255, 255, 255, 0.0);
    --main-bg-color:white;
    --main-text-color:black;
    --accent-color-1:#78101C;
    --hover-color-metric:#e9ecef;
    --legend-text-color:var(--main-text-color);


    /*webkit scroll*/
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        background: transparent;
    }
    
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: 1px;
    }

}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bar-bg:#9BC53D;
    --nav-bar-text:black;
    --nav-bar-hover:#f2fae0;
    --scrollbar-thumb-color: #9BC53D;
    --scrollbar-color:rgba(255, 255, 255, 0.0);
    --main-bg-color:black;
    --main-text-color:white;
    --accent-color-1:#EF233C;
     --hover-color-metric:#656666;
  }
}
html {
    scroll-behavior: smooth;
}
body{
    border:0;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    scroll-margin-top: 55px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100%;
    
}
ul{
    padding:0;
}
#overview{
    min-height: 90vh;
    padding: 5px;
}
.theme-dark{
    --nav-bar-bg:#9BC53D;
    --nav-bar-text:black;
    --nav-bar-hover:#f2fae0;
    --scrollbar-thumb-color: #9BC53D;
    --scrollbar-color:rgba(255, 255, 255, 0.0);
    --main-bg-color:black;
    --main-text-color:white;
    --accent-color-1:#EF233C;
    --hover-color-metric:#656666;
}
.theme-light{
    --nav-bar-bg:#2d728f;
    --nav-bar-text:white;
    --nav-bar-hover:#0d4259;
    --scrollbar-thumb-color: #2d728f;
    --scrollbar-color:rgba(255, 255, 255, 0.0);
    --main-bg-color:white;
    --main-text-color:black;
    --accent-color-1:#78101C;
    --hover-color-metric:#e9ecef;
}